@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.dashboard-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
}

/* sidebar */
.sidebar {
  background-color: rgba(25, 146, 212);
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.main-navigation,
.sub-navigation {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar .dashboard svg {
  width: 50px;
  height: 50px;
  fill: white;
}

.sidebar svg {
  width: 40px;
  height: 40px;
  fill: white;
}

.sidebar .dashboard {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dashboard span {
  font-size: xx-large;
  font-weight: bolder;
  color: white;
}

.sidebar button span {
  font-size: large;
  font-weight: bolder;
  color: white;
}

.sidebar button {
  background: none;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
}

/* header */
.header {
  background-color: white;
  grid-column: 2 / 3;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* top part header */
.top-header {
  display: flex;
  justify-content: space-between;
}

.t-header-left {
  flex: 1;
}

.t-header-left,
.t-header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.top-header svg {
  width: 30px;
  height: 30px;
}

.top-header .pfp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.top-header .username {
  font-size: large;
  font-weight: bolder;
}

.top-header button {
  background: none;
  border: none;
}

.top-header .searchBar {
  background-color: rgba(226, 232, 240);
  border: none;
  height: 30px;
  width: 70%;
  border-radius: 20px;
}

/* botton part header */
.bottom-header {
  display: flex;
  justify-content: space-between;
}

.b-header-left,
.b-header-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.BotLeftHead-Container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.bottom-header .username {
  font-size: x-large;
  font-weight: bolder;
}

.bottom-header .hi-there {
  font-weight: bolder;
}

.bottom-header .pfp {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.b-header-right button {
  background-color: rgba(25, 146, 212);
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  font-size: medium;
  font-weight: bolder;
  color: white;
}

/* main content */
.main-content {
  background-color: rgb(207, 219, 224);
  grid-column: 2 / 3;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);

  padding: 30px 20px;
  gap: 20px;
}

.main-content > * {
  border: 2px solid black;
}

.your-projects {
  grid-row: 1 / 3;
}

/* 
rgba(239, 226, 134)
*/
